#feed-panel {
	float: none;
	width: 100%;
	height: 100%;
	padding-bottom: 35px;
}

.list-content li {
	min-height: 25px;
	line-height: 25px;
}

#feed-list li a span {
	margin-top: 7px;
}

#wrapper {
	height: 100%;
}

#separator {
	float: none;
	height: 30px;
	width: 100%;
	cursor: row-resize;
	position: fixed;
	bottom: 0;
	z-index: 1;
}

#separator .sprite {
	height: inherit;
	top: 0;
	width: 54px;
	display: inherit;
	margin: 0 auto;
	background-position: 0 -107px;
}

#post-list {
	float: none;
	width: 100%;
	height: 0;
	display: block;
	position: fixed;
	bottom: 0;
	background-color: #FFFFFF;
}

.entries .content .resize {
	max-width: none;
}

.entry a.title {
	height: 40px;
}

.entries .content img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

.entries .content iframe {
	max-width: 100%;
}

#feed-list .feed-menu {
	display: block;
	margin-top: -18px;
}

.feed-last-update {
	display: none;
}