body {
	margin: 0px;
	padding: 0px;
	font-family: Arial, serif;
	font-size: 12px;
}

a { outline: none; }

#templates { display: none; }

.sprite {
	background: url("images/sprites.png") no-repeat scroll transparent;
	display: inline-block;
	vertical-align: top;
}

.info {
	margin: auto;
	display: none;
	padding: 6px;
	font-weight: bold;
	left: 50%;
	position: absolute;
	z-index: 10;
	border-radius: 0 0 10px 10px;
	text-align: center;
}

#loader {
	background-color: #f9dd7d;
	border: 1px solid #DCC11D;
	margin-left: -35px;
	width: 70px;
}

#error {
	background-color: #FFBABA;
	border: 1px solid #CF0000;
	margin-left: -220px;
	width: 440px;
}

#success {
	background-color: #BAFFBB;
	border: 1px solid #17CF00;
	margin-left: -220px;
	width: 440px;
}

#header {
	background: url("images/logo.png") no-repeat scroll 15px center;
	height: 70px;
	overflow: hidden;
}

#preferences-button {
	border: 1px solid #52A6FF;
	border-radius: 5px;
	float: right;
	margin: 20px 15px;
	padding: 8px 15px;
	cursor: pointer;
}

#preferences-button .sprite {
	background-position: 0px -24px;
	height: 6px;
	width: 6px;
	vertical-align: middle;
	margin-left: 5px;
}

.display-menu {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #EEEEEE;
	box-shadow: 0 4px 10px -4px #000000;
	float: right;
	list-style: none outside none;
	margin: 0;
	padding: 6px 0;
	position: absolute;
	display: none;
}

.display-menu li {
	padding: 5px 15px !important;
	cursor: pointer;
	margin: 0 !important;

	color: #000;
	font-weight: bold;
}

.display-menu li:hover {
	background-color: #fdf9e8;
}

.display-menu li a {
	text-decoration: none;
	color: inherit;
	display: block;
}
.display-menu .hr {
	padding: 0 !important;
	border-bottom: 1px solid #E8E8E8;
	height: 0;
}

/**************************************************************************************************************************/

#wrapper {
	height: 90%;
	margin: 0px;
	padding: 0px;
}

#feed-panel {
	float: left;
	height: 100%;
	overflow: auto;
}

#add-feed {
	border: 1px solid #52A6FF;
	border-radius: 5px;
	cursor: pointer;
	height: 35px;
	padding: 0 15px;
	background: #F4F4F4;
	font-size: 1.3em;
	margin: 0 15px;
	text-align: center;
	line-height: 36px;
}

#add-feed .sprite {
	margin: 5px;
	background-position: 0px 0px;
	height: 24px;
	width: 24px;
}

#feed-panel .list-title {
	font-weight: bold;
	margin: 15px 0 5px;
	cursor: pointer;
}

#feed-panel .list-title .sprite {
	height: 7px;
	width: 7px;
	background-position: -7px -30px;
	margin: 3px 3px 0 5px;
}

#feed-panel .list-title .sprite.hidden {
	background-position: 0px -30px !important;
}

.list-content .folder li,
.list-content li .sprite { margin-left: 14px; }
.list-content li a { padding-left: 14px; }

.list-content span {
	width: 11px;
	margin: 3px 3px 0 0;
	height: 11px;
}

#highlight-unreaded .sprite { background-position: 0px -37px; }
#highlight-starred .sprite { background-position: -11px -37px; }
#highlight-search .sprite { background-position: -33px -37px; }

#search-form {
	left: 25px;
}

#feed-panel ul {
	margin: 0px;
	padding: 0px;
}

.list-content li {
	list-style: none;
	min-height: 20px;
	line-height: 20px;
	cursor: pointer;
}

#feed-panel li:hover {
	background-color: #fdf9e8;
}

#feed-panel .folder:hover {
	background-color: inherit;
}

#feed-panel .folder .foldername {
	font-style: italic;
}

#feed-panel .folder .sprite {
	background-position: -44px -48px;
	height: 11px;
	width: 11px;
}

#feed-list li a {
	display: block;
	color: #000000;
	font-size: 100%;
	text-decoration: none;
	padding-right: 32px;
}

#feed-list li a span {
	width: 11px;
	height: 11px;
	background-position: -44px -37px !important;
	margin-left: 0;
}

#feed-list li img {
	width: 11px;
	height: 11px;
}

#feed-list li .not-readed {
	font-weight: bold;
}

#feed-list li .selected-feed {
	color: #CD0000 !important;
}

#feed-list .feed-menu {
	width: 22px;
	float: right;
	margin: 5px 10px 5px;
	background: url("images/sprites.png") no-repeat;
	background-position: 0px -48px;
	height: 10px;
	display: none;
	margin-top: -15px;
}

#feed-list .feed-menu:hover {
	background-position: 0px -58px;
}

/**************************************************************************************************************************/

#separator {
	cursor: col-resize;
	width: 7px;
	float: left;
	height: 100%;
	background-color: #F4F4F4;
}

#separator .sprite {
	background-position: -23px -100px;
	width: inherit;
	height: 44px;
	position: relative;
	top: 50%;
}

/**************************************************************************************************************************/

#welcome-fieldset {
	margin: 1% !important;
	padding: 20px 30px;
}

#welcome-fieldset img {
	float: right;
	margin-left: 20px;
}

/**************************************************************************************************************************/

#post-list {
	float: right;
	border-top: 1px solid #DDDDDD;
	height: 100%;
	overflow: auto;
	display: none;
}

.entries {
	padding: 0;
	margin: 0;
}

.entry {
	list-style: none;
}

.feed-title {
	background: #C9E5FE;
	font-size: 1.285em;
	padding: 6px;
	display: block;
}

.feed-title a {
	color: #000000;
	text-decoration: none;
}

.feed-last-update {
	float: right;
}

.entries {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.entries li {
	border-bottom:1px solid #E5E5E5;
}

.entry a .timestamp {
	float: right;
}

.entry a.title {
	font-size: 100%;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	display: block;
	padding: 2px 10px 2px 5px;
}

.entry a.readed {
	background-color: #EEEEEE !important;
	font-weight: normal !important;
}

.entry a.selected-post {
	background-color: #F7F9B1 !important;
}

.entries .star {
	background-position: 0px -84px;
	height: 16px;
	width: 16px;
	display: inline-block;
	vertical-align: text-bottom;
}

.entries .star:hover {
	background-position: -16px -84px;
}

.entries .starred {
	background-position: -32px -84px !important;
}

.post-manager .read {
	background-position: 0px -68px;
	height: 16px;
	width: 16px;
	display: inline-block;
}

.post-manager .read:hover {
	background-position: -16px -68px;
}

.post-manager .unread {
	background-position: -32px -68px !important;
}

/**************************************************************************************************************************/

.entries .content {
	display: none;
	border-bottom: 1px solid #e8e8ff;
}

.entries .content .resize {
	max-width: 650px;
	padding: 10px 15px;
	word-wrap: break-word;
}

.content .entry-title {
	font-size: 150%;
	text-decoration: none;
	display: block;
	color: #524F4F;
}

.content .author {
	margin: 3px 0 10px;
}

.content .author span {
	font-style: italic;
}

.content a img {
	border: none;
}

.entries .post-manager {
	background-color: #DDF0FF;
	border: 1px solid #BCE3FF;
	padding: 2px 0 2px 6px;
}

/**************************************************************************************************************************/

.content-form {
	max-width: 500px;
	margin: 25px auto;
	border-radius: 5px;
}

#welcome-fieldset,
.content-form fieldset {
	border-radius: 5px;
	margin-bottom: 1em;
}

.content-form fieldset div {
	clear: both;
}

.content-form legend {
	padding: 0 3px;
}

.content-form label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 40%;
	padding-top: 5px;
	cursor: pointer;
}

.content-form select,
.content-form input { /* Taken from login.css->.login input */
	font-size: 14px;
	border: 1px solid #AAAAAA;
	border-radius: 5px;
	padding: 5px 7px;
	margin-top: 3px;
	width: 45%;
}

.content-form input[type="file"] { opacity: 0; }
.content-form input[type="checkbox"] { width: auto; }
#submited-form { display: none; }

.content-form .submit-button { /* Taken from login.css->.button-submit */
	float: right;
	background-color: #EEEEEE;
	border: 1px solid #AAAAAA;
	border-radius: 5px;
	cursor: pointer;
	height: 35px;
	padding: 0 15px;
}

/****************************************************************************************/

.feed-panel-form {
	padding: 0 5px;
	border-radius: 5px;
	border: 1px solid #B7B3B3;
	position: absolute;
	background-color: #FFFFFF;
	height: 35px;
	display: none;
}

.feed-panel-form label {
	text-align: right;
	margin: 0 5px 0 10px;
}

.feed-panel-form input {
	font-size: 14px;
	border: 1px solid #AAAAAA;
	border-radius: 5px;
	padding: 5px 7px;
	margin-top: 3px;
	width: 200px;
}

.feed-panel-form .submit-button {
	background-color: #EEEEEE;
	border: 1px solid #AAAAAA;
	border-radius: 5px;
	cursor: pointer;
	height: 27px;
	padding: 0 15px;
}
